<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        rel="stylesheet" 
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous">

        <style>
            body {
                background-image: url("https://pixabay.com/get/g81fdf2aab1abde2f35eee8c04931a76677a5a230cc68b6da88884a0c67302d1534fd609dbcb002fc6d873b874e1f3158_1920.jpg");
                background-size: cover;
                }
                li{
                
                margin:6px;
                padding: 6px;
                text-decoration: none;
            }
            a{
                
                text-decoration: none;
            }
            .navbar {
                position: fixed;
                top: 0%;
                width: 100%;
                z-index:10;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <nav class="navbar  navbar-toggleable-md navbar-inverse fixed-top bg-inverse navbar-expand-lg navbar-dark   bg-dark">
           
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <h5><li><a class="text-light " href="/">All Blogs</a></li></h5>
                        <li><a class="text-light" href="/articles/new">Create New</a></li>
        
                        <li><a class="text-light" href="https://caslocal.nagarro.com/">Customer Support</a></li>
                        <li><a class="text-light" href="https://www.nagarro.com/en/company">About us</a></li>
                        <li><a class="text-light" href="https://www.nagarro.com/en/contact-us">Contact us</a></li>
                      
                    </ul>
                </div>
            </nav>
            
            <br><br><br>
        </div>
       
      
    </body>
</html>